* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.carrito {
  margin-right: 30px;
  padding: 5px 10px;
}

.carrito a {
  color: #ff7d00;
}

.carrito:hover {
  background-color: #15616d;
  color: #ffecd1;
  padding: 5px 10px;
  border-radius: 10px;
}


.encabezado {
  grid-area: encabezado;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  background-color: #001524;
  color: #ff7d00;
}
.logo {
  width: 5vw;
  height: 9vh;
}

.menu {
  grid-area: menu;
  display: flex;
  justify-content: center;
  column-gap: 3%;
  background-color: #15616d;
  padding: 5px 0;
}

.menu a {
  text-decoration: none;
  color: #ffecd1;
  padding: 5px 10px;
}

.menu a:hover {
  background-color: #001524;
  color: #ff7d00;
  border-radius: 10px;
}

#central {
  display: flex;
  justify-content:center;
  margin-top: 30px;
  flex-wrap: wrap;

}

.izquierda, .centro, .derecha{
  text-align: center;

}

.izquierda img,
.centro img,
.derecha img {
width: 95%; 
height: auto; 
max-width: 100%; 
max-height: 100%; 
border-radius: 10px;
}

.pie {
  background-color: #001524;
  color: #ff7d00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.pie a i {
  color: #ff7d00;
  padding: 0 5px;
}

.pie p {
  margin-bottom: 5px;
}

/*--------------------------------------------------*/
/*Estilo para productos*/
/*--------------------------------------------------*/
.grid-container {
  display: grid;
  grid-auto-flow: row;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px 15px 80px;
  justify-content: center;
  text-align: center;
}

.producto {
  background-color: #ffecd1;
  padding: 20px 0px;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.producto p{
    font-size: 16px;
    font-weight: bold;
}

.agregar {
  border-style: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #15616d;
  color: #ffecd1;
}

.agregar:hover{
    background-color: #001524;
    color: #ff7d00;
    font-weight: bolder;
}

/*--------------------------------------------------*/
/*Estilo de la grilla para pantallas de tablets*/
/*--------------------------------------------------*/

@media (max-width: 992px) {

  .logo {
    width: 6vw;
    height: 7vh;
  }
}

/*--------------------------------------------------*/
/* Estilo de la grilla para pantallas de celular */
/*--------------------------------------------------*/
@media (max-width: 860px) {

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .logo {
    width: 6vw;
    height: 6vh;
  }
}

/*--------------------------------------------------*/
/*Estilo de la grilla para pantallas más pequeñas*/
/*--------------------------------------------------*/
@media (max-width: 560px) {

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .logo {
    width: 6vw;
    height: 6vh;
  }
}

